<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section>
	
	 <div class="container">
	 <div class="row">
	 <div class="col-md-8 offset-md-2">
	 <div class="my-card mt-1">
	 <h3 style="text-align: center;">This is about page</h3>
	  <div class=" container text-center">
	     <img  style="width:80px;" src=""  th:src="@{/img/error.png}"  >
	     </div>
	    <P style="text-align: center;" >Invalid UserID OR password</P>
	    <div class=" container text-center" >
	      <a href="/signIn/" class="btn btn-link">Back To LOGIN page</a>
	    </div>
	   
	    
	 </div> 	
	 </div>
	 </div>
	 </div>
	</section>
</body>
</html>
